
<div class="panel panel-default" style="max-width: 1500px;margin: 0 auto;">
    <div class="panel-heading">
        <h3 class="panel-title">Create Your App</h3>
    </div>
    <div class="panel-body">

        <div class="row">
            <div class="col-md-8">
                <div style="text-align: center;margin-bottom: 15px;">
                    <a ui-sref="main-menu.about-us" class="btn btn-danger" style="margin-right: 10px;">
                        <span>About Us</span>
                    </a>
                    <a ui-sref="main-menu.flicker" class="btn btn-primary" style="margin-right: 10px;">
                        <span>Flicker</span>
                    </a>
                    <a ui-sref="main-menu.open-time" class="btn btn-success" style="margin-right: 10px;">
                        <span>Opening Hours</span>
                    </a>
                </div>
            </div>
            <div ui-view="sub-menu"></div>
            <!--<div class="col-md-4">-->
              <!--<div style="position: relative;">-->
                  <!--<img src="img/iphone-cover.jpg" style="width: 350px;height: 600px;" alt=""/>-->
                  <!--<div class="phone-container">-->
                      <!--gfhgfhf-->
                  <!--</div>-->
              <!--</div>-->
            <!--</div>-->

        </div>


    </div>
</div>
